<div class="modal fade" id="modalCadastrarAssinaturaColaborador" aria-labelledby="modalCadastrarAssinaturaColaborador"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title"><b>Assinatura do Colaborador</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="modal-body d-flex justify-content-center">
                    <canvas id="signatureColaborador" width="600" height="150" style="border: 1px solid #ddd;"></canvas>
                </div>
                
            </div>
            <div class="modal-footer">
                <div>
                    <button id="saveColab" type="submit" class="btn btn-success">Salvar</button>
                    <button id="clear-signature-colab" type="button" class="btn btn-warning" >Limpar</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#modalCadastrarAssinaturaColaborador" data-bs-whatever="@mdo">Fechar
                </button>
                  </div>
            </div>

        </div>
    </div>
</div>
