<div class="modal fade" id="modalDeletaEmprestimoAberto{{emprestimo.id}}" aria-labelledby="modalDeletaEmprestimoAberto{{emprestimo.id}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Excluir Emprestimo</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <span>Deseja deletar o emprestimo<strong> {{emprestimo.colaborador.nome}} </strong>?</span>
                <br>
                <br>
                <br>

                <span>O emprestimo se encontra <strong>Aberto</strong>, assim após sua exclusão o mesmo será desfeito e o termo de devolução não será gerado.</span>

            </div>
            <div class="modal-footer">

                <form action="{% url 'deletarEmprestimo' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ emprestimo.id }}">
                    <button type="submit" class="btn btn-success">Excluir</button>
                </form>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#modalDeletaEmprestimoAberto{{emprestimo.id}}" data-bs-whatever="@mdo">Cancelar
                </button>
            </div>
        </div>

    </div>
</div>

