<div class="modal fade" id="modalEditarEquipamento{{item.id}}" aria-labelledby="modalEditarEquipamento{{item.id}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Editar Equipamento</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="card-body">
                    <form action="{% url 'editarEquipamento'%}" method='POST'>

                      {% csrf_token %}
                      <input type="hidden" name="id" value={{item.id}}>
                      
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="nome">Nome</label>
                            <input type="text" value="{{item.nome}}" class="form-control" name="nome" required>
                          </div>
            
                          <div class="form-group col-md-6">
                            <label for="n_serie">Número de Série</label>
                            <input type="text" value="{{item.n_serie}}" class="form-control" name="n_serie" required>
                          </div>
                        </div>
                        
                        {% comment %} AJEITAR AQUIIIIIIIIIIIIIIIII {% endcomment %}
                        <div class="form-group">
                          <label for="quantidade">Quantidade</label>
                          <select type="number" values="{{item.quantidade}}" class="form-control" name="quantidade" min='1' required>
                        </div>
                        {% comment %} AJEITAR AQUIIIIIIIIIIIIIIIII {% endcomment %}


                        <div class="form-group">
                          <label for="status">Situação</label>
                          <input type="text" value="{{item.status}}" class="form-control" name="status" required>
                        </div>
            
                        <div class="form-group">
                          <label for="observacao">Detalhes e Observações</label>
                          <input type="text" value="{{item.observacao}}" class="form-control" name="observacao"> 
                        </div>
            
                        <br>
            
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#modalEditarEquipamento{{item.id}}" data-bs-whatever="@mdo">Cancelar
                    </button>
            
            
                      </form>
                </div>
            

            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>