<div class="modal fade" id="modalEmprestadoEquipamento{{item.id}}" aria-labelledby="modalEmprestadoEquipamento{{item.id}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Excluir Equipamento</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <span>Não é possivel excluir o equipamento <strong> {{item.nome}} </strong> pois esta anexado a um emprestimo.</span>
    
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#modalEmprestadoEquipamento{{item.id}}" data-bs-whatever="@mdo">Fechar
                </button>
                
            </div>
        </div>

    </div>
</div>  

