{% extends 'base.html' %}

{% block tituloPagina %}
<h1 class="mt-4">Equipamentos</h1>
{% endblock tituloPagina %}


{% block conteudo %}
<div class="container d-flex justify-content-center">
  <div class="card w-75 shadow h-100 py-2">
      <h5 class="card-header">Cadastrar Equipamento</h5>

      {% include 'alerts/messages.html' %}
      
      <div class="card-body">
          <form action="{% url 'cadastrarEquipamento'%}" method="post">

            {% csrf_token %}

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="nome">Nome</label>
                  <input type="text" id="nome" class="form-control" name="nome" required>
                </div>

                <div class="form-group col-md-12">
                    <label for="n_serie">
                        N° de Série | Patrimônio
                    </label>
                    <input type="text" class="form-control" name="n_serie" required>
                </div>

              <div class="form-group col-md-12">
                <label for="quantidade">Quantidade</label>
                <input type="number" min="1" class="form-control" name="quantidade">
              </div>

              <div class="form-group col-md-12">
                <label for="observacao">Detalhes e Observações (Opcional)</label>
                <input type="text" class="form-control" name="observacao"> 
              </div>
            </div>


              <br>

              <div class="d-flex justify-content-center row">
                <div class="col-12 col-md-3 text-center">
                    <button type="submit" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">Salvar</span>
                    </button>
                </div>

                <div class="col-12 col-md-3 text-center">
                    <button type="reset" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-close"></i>
                        </span>
                        <span class="text">Cancelar</span>
                    </button>
                </div>
            </div>


            </form>
      </div>
      
    </div>
</div>


    <div class="card mt-4">
      <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Equipamentos
      </div>
      <div class="card-body">
          <table class="table">
              <thead>
                  <tr>
                      <th>Nome</th>
                      <th>Numero de série</th>
                      <th>Quantidade</th>
                      <th>Situação</th>
                      <th>Detalhes</th>
                      <th>Ações</th>
                  </tr>
              </thead>
              <tbody>
                {% for item in equipamentos %}
                <tr>
                  <td>{{item.nome}}</td>
                  <td>{{item.n_serie}}</td>
                  <td>{{item.quantidade}}</td>
                  <td>{{item.status}}</td>
                  <td>{{item.observacao}}</td>
                  <td class="text-center">
                    <!-- Default dropstart button -->
                    <div class="btn-group dropstart">
                        <button type="button"
                            class="btn btn-warning btn-sm dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Opções
                        </button>
                        <ul class="dropdown-menu">
                            <li class="text-center">
                                <a class="btn btn-block" data-bs-toggle="modal"
                                    data-bs-target="#modalEditarEquipamento{{item.id}}"
                                    data-bs-whatever="@mdo">


                                    <div class="row">
                                        <div class="col-2">
                                            <span class="icon text-secondary">
                                                <i class="bi bi-pencil-square"></i>
                                            </span>

                                        </div>
                                        <div class="col-10 text-left">

                                            <span class="text">Editar</span>
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li class="text-center">

                                {% if item.status == "Emprestado" %}

                                    <button type="button" class="btn btn-block"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modalEmprestadoEquipamento{{item.id}}"
                                        data-bs-whatever="@mdo">
                                        <div class="row">
                                            <div class="col-2">
                                                <span class="icon text-secondary">
                                                    <i class="bi bi-trash"></i>
                                                </span>

                                            </div>
                                            <div class="col-10 text-left">

                                                <span class="text">
                                                    Excluir</span>
                                            </div>
                                        </div>

                                    </button>


                                {% else %}

                                        <button type="button" class="btn btn-block"
                                                data-bs-toggle="modal"
                                                data-bs-target="#modalDeletaEquipamento{{item.id}}"
                                                data-bs-whatever="@mdo">
                                            <div class="row">
                                                <div class="col-2">
                                                    <span class="icon text-secondary">
                                                        <i class="bi bi-trash"></i>
                                                    </span>

                                                </div>
                                                <div class="col-10 text-left">

                                                    <span class="text">
                                                        Excluir</span>
                                                </div>
                                            </div>

                                        </button>

                                {% endif %}

                            </li>
                        </ul>
                    </div>

                </td>
              </tr>

                {% include 'modais/deletarEquipamentoModal.html' %}
                {% include 'modais/editarEquipamentoModal.html' %}
                {% include 'modais/emprestadoModal.html' %}


                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>

{% endblock conteudo %}